.projectCard {
  position: relative;
  background-color: black;
  border-radius: 10px;
  height: 500px;
}

.projectCard img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.projectCard p,
.projectCard a {
  opacity: 0;
}

.projectCard:hover p,
.projectCard:hover a {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

.projectCard:hover img {
  opacity: 0.25;
  transition: opacity 0.25s ease-in;
}
